.login-card {
    border: none;
    border-radius: 15px; /* Rounded corners for the card */
    padding: 40px; /* Increase padding for a taller form */
}

.btn-gradient {
    background: linear-gradient(135deg, #004d00, #008000);
    border: none;
    border-radius: 20px; /* Rounded button */
    padding: 10px 20px; /* Button padding */
    font-size: 16px; /* Font size */
    color: white;
}

.btn-gradient:hover {
    background: linear-gradient(135deg, #008000, #004d00); /* Darker gradient on hover */
}


/* public/css/loginPage.css */
.regpage-loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    display: none; /* Initially hidden */
}
.regpage-spinner {
    border: 8px solid rgba(0, 0, 0, 0.1);
    border-left-color: green; /* Change this color as needed */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}


/* public/css/loginPage.css */
.logpage-loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    display: none; /* Initially hidden */
}
.logpage-spinner {
    border: 8px solid rgba(0, 0, 0, 0.1);
    border-left-color: green; /* Change this color as needed */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
